using System;
namespace app
{
    public class Config
    {
        public const string ClientId = "YOUR_CLIENT_ID";

        public const string ClientSecret = "YOUR_CLIENT_SECRET";

        public const string CallbackUrl = "http://localhost:8080/auth/callback";

        public const string AuthorizationEndpoint = "https://www.sageone.com/oauth2/auth/central?filter=apiv3.1";
    }
}
